body {
    background-color:#0047bf;
    font: 12px/200% Arial;
}

a:hover {
    background-color: #eeeeee;
}
a {
    border-bottom: #5586dd 1px dotted;
    color: #5586dd;
    text-decoration:none;
}

img {
    border: 0px;
}

#container {
    width: 900px;
    margin:auto;
    background-color:white;
}

#main {
    border-top:4px solid blue;
    padding-top:10px;
    margin-top:10px;
}

#header {
    background-color:white;
    height: 140px;
}



.sidebar {
    background-color:white;
    width: 165;
    float:left;
    padding-left:10px;
}

.sidebar ul {
    padding:0px;
    margin:0px;
}

.sidebar ul li {
    padding:0px;
    line-height:18px;
    margin-bottom:5px;
}
.sidebar ul li a {
    text-transform: uppercase;
    font-weight:bold;
    color: #064789;
}

.sidebar  ul li ul {
    padding:10px;
    margin:0px;
}
.sidebar li {
    list-style-type: none;
}

#leftbar #officers a {
    margin-left:20px;
    text-transform: none
}


ul indented {
    list-style-type: circle;

}




#content {
    background-color:white;
    float:left;
    width: 520px;
    padding-left:10px;
}


#rightbar {
    background-color:white;
    width: 180px;
    float:left;
    padding-left:10px;
}


#footer {
    clear:both;
    margin: auto;
    width:900px;
}
